.itemCard {
  flex-basis: 63%;
  position: relative;
  font-family: var(--family);
}

.itemCard figure {
  position: relative;
  z-index: 1;
}

.itemCard figcaption {
  background-color: var(--serch);
  z-index: -1;
  position: relative;
  width: 11rem;
  min-height: 5.625rem;
  margin: auto;
  padding: 1rem 0.5rem;
  border-radius: 0.125rem;
  box-shadow: var(--box-shadow);
}

.itemName {
  font-size: var(--mobMedium);
  color: var(--white);
  min-height: 2rem;
  margin-bottom: 0.5rem;
}

.itemAnnotation {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--mobSmall);
  color: var(--grey);
  height: 6rem;
}

.imgContainer {
  width: 11rem;
  margin: auto;
  display: block;
  position: relative;
  transition: 500ms;
}

.imgContainer img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

.itemCard:hover .imgContainer {
  transition: 500ms;
  box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.6);
  transform: scale(1.08);
}

.itemCard:hover {
  z-index: 3;
}

@media (min-width: 480px) {
  .itemCard {
    flex-basis: 50%;
  }

  .itemCard:nth-last-child(-n+2) {
    margin: 0 auto;
  }
}

@media (min-width: 550px) {
  .itemCard {
    flex-basis: 25%;
  }

  .itemCard:nth-last-child(-n+3) {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .itemCard {
    flex-basis: 20%;
  }

  .itemCard:nth-last-child(-n+4) {
    margin: 0 auto;
  }
}
