.itemCard {
  position: relative;
  font-family: var(--family);
  box-shadow: var(--box-shadow);
}

.itemCard figure {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  background-color: var(--greyOverlay);
}

.itemCard figcaption {
  background-color: var(--greyOverlay);
  z-index: -1;
  position: relative;
  width: 11rem;
  padding: 1rem 0.5rem;
  border-radius: 0.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemTitleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.itemName {
  font-size: var(--mobMedium);
  color: var(--white);
  margin-bottom: 0.5rem;
  max-height: 3.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.itemTitleWrapper p {
  font-size: 0.7em;
  color: var(--nero);
  font-style: italic;
}

.itemAnnotation {
  max-height: 4rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--mobSmall);
  color: var(--black);
  text-indent: 1.5em;
}

.imgContainer {
  width: 7rem;
  margin: auto;
  display: block;
  position: relative;
  transition: 500ms;
}

.imgContainer img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
}

.itemCard:hover .imgContainer {
  transition: 500ms;
  box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.6);
  transform: scale(1.08);
}

.itemCard:hover {
  z-index: 3;
}

@media (min-width: 480px) {
  .imgContainer {
    width: 11rem;
  }

  .imgContainer img {
    height: 18rem;

  }

  .itemCard {
    flex-basis: 50%;
  }

  .itemCard figure {
    flex-direction: column;
  }

  .itemCard:nth-last-child(-n+2) {
    margin: 0 auto;
  }

  .itemCard figcaption {
    min-height: 11rem;
    width: 100%;
  }
}

@media (min-width: 550px) {
  .itemCard:nth-last-child(-n+3) {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .itemCard {
  }

  .itemCard:nth-last-child(-n+4) {
    margin: 0 auto;
  }
}
