.logoWrapper {
  flex-basis: 150px;
  padding: .5rem 0;
  margin: auto 0;
}

.logoButton {
  background: transparent;
  outline: none;
}

.logoButton:hover {
  cursor: pointer;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 601px) {
  .logoWrapper {
    flex-basis: 200px;
  }
}
