.wrapper {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  background-color: #2196f3;
  background-image: linear-gradient(-30deg, #2196f3 0%, #010528 80%);
  flex-wrap: wrap;
  min-height: 5rem;
}

.headContainer {
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.menuContainer {
  display: flex;
  flex-direction: row-reverse;
}

@media only screen and (min-width: 601px) {
  .wrapper {
    padding: 0.5rem;
    width: 85%;
  }

  .menuContainer {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .wrapper {
    width: 70%;
    max-width: 1280px;
  }
}
