.localeWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto 1.3rem auto 0;
  padding: 0.3rem;
  order: 1;
}

.langBtn {
  position: relative;
  padding: 0.4rem;
  background-color: transparent;
  color: var(--white);
}

.langBtnActive {
  font-weight: 700;
  color: var(--blackShadow);
}

.localeWrapper > li:first-child > .langBtn:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 0;
  height: 1.3rem;
  border-right: 1px solid var(--blackShadow);
}

.menuWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menuIcon {
  padding-right: 1rem;
  font-size: 36px;
  color: var(--white);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
}

.wrapper {
  position: absolute;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 5rem;
  background-color: var(--kilamanjaro);
  transform: scale(0);
  transition: 300ms;
}

.showMenu {
  transform: scale(1);
  transition: 300ms;
}

.link {
  display: block;
  min-width: 100%;
  margin-right: 0;
  padding: 16px;
  font-size: 20px;
  color: var(--main-yellow);
  cursor: pointer;
  border: 1px dashed var(--black);
  border-radius: 0;
  outline: none;
  background-color: var(--nero);
  text-transform: uppercase;
}

@media screen and (min-width: 601px) {
  .localeWrapper {
    margin: auto 0.3rem auto 0;
    order: unset;
    flex-basis: 23%;
  }

  .menuWrapper {
    flex-basis: 70%;
    position: relative;
    margin: auto 0;

  }

  .wrapper {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 10%;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    transform: scale(1);
  }

  .showMenu {
    display: flex;
  }

  .link {
    min-width: 10%;
    margin-right: 10px;
    padding: 7px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
  }

  .menuIcon {
    display: none;
  }

  .link:hover {
    border: 1px solid var(--main-yellow);
  }

  .langBtn{
    color: var(--main-yellow);
  }

  .logoBtnActive {
    color: var(--selected-yellow);
  }
}
