.menuWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.menuIcon {
  padding-right: 1rem;
  font-size: 36px;
  color: var(--white);
  outline: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
}

.wrapper {
  position: absolute;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 100%;
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 4rem;
  background-color: var(--kilamanjaro);
  transform: scale(0);
  transition: 300ms;
}

.showMenu {
  transform: scale(1);
  transition: 300ms;
}

.link {
  display: block;
  min-width: 100%;
  margin-right: 0;
  padding: 16px;
  font-size: 20px;
  color: var(--gold);
  cursor: pointer;
  border: 1px dashed var(--black);
  border-radius: 0;
  outline: none;
  background-color: var(--nero);
}

@media screen and (min-width: 601px) {
  .menuWrapper {
    flex-basis: 60%;
    position: relative;
  }

  .wrapper {
    display: flex;
    top: 0;
    right: 0;
    flex-direction: row;
    min-width: 10%;
    height: auto;
    padding-top: 10px;
    background-color: transparent;
    transform: scale(1);
  }

  .showMenu {
    display: flex;
  }

  .link {
    min-width: 10%;
    margin-right: 10px;
    padding: 7px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
  }

  .menuIcon {
    display: none;
  }

  .link:hover {
    border: 1px solid var(--main-yellow);
  }

}

@media screen and (min-width: 640px) and (max-width: 1000px) and (orientation: landscape) {
  .hideMenu {
    display: none;
  }

  .menuIcon {
    position: fixed;
    top: 5px;
    right: 30px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: var(--white);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1000;
  }

  .wrapper {
    /*position: fixed;*/
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--kilamanjaro);
  }

  .link {
    display: block;
    margin-left: 10px;
    margin-right: 0;
    padding: 16px;
    font-size: 20px;
    color: var(--main-yellow);
    cursor: pointer;
    border-radius: 0;
    outline: none;
    background-color: var(--nero);
  }

  .link:hover {
    border: 1px solid var(--main-yellow);
  }

  .ava {
    margin-left: 10px;
  }

  .userPic {
    margin: 0 auto;
  }

  .mobileLink {
    display: block;
  }
}

/*@media screen and (min-width: 640px) and (max-width: 1000px) and (orientation: landscape)*/
