.content {
  padding: 1.65rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*overflow-y: scroll;*/
  min-height: 70vh;
}

.content a {
  margin: 0 auto 1rem;
  padding: 0.5rem;
}

.content:last-child {
  margin: 0 auto;
}

