.search {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: var(--family);
  padding: 0.8rem 0.5rem;
}

.mobileSearchBtn {
  display: block;
  background-color: transparent;
  color: var(--white);
  font-size: 1.5rem;
  margin-right: 1rem;

}

.searchForm {
  display: flex;
  position: absolute;
  bottom: 150%;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  box-shadow: var(--box-shadow);
  transition: 300ms;
}

.showSearchForm {
  bottom: 0;
  transition: 300ms;
}

.searchInput {
  flex-basis: 80%;
  font-size: var(--medium);
  padding: 0.8rem 0.5rem;
  background-color: var(--nero);
  border: none;
  border-bottom-left-radius: 0.225rem;
  color: var(--greyLight);
}

.searchBtn {
  padding: 0.75rem;
  border: none;
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  border-bottom-right-radius: 0.225rem;
  flex-basis: 20%;
}

@media (min-width: 601px) {
  .search {
    flex-basis: 100%;
    padding: 0.5rem 0.75rem;
  }

  .mobileSearchBtn {
    display: none;
  }

  .searchForm {
    bottom: 0;
    position: relative;
    transform: translate(15%, 0);
    width: 80%;
    box-shadow: none;
  }

  .searchInput {
    padding: 0.3rem 0.5rem;
    border-radius: 0.225rem;
    margin-right: 0.5rem;
  }

  .searchBtn {
    padding: 0.2rem;
    border-radius: 0.225rem;
  }
}
