.wrapper {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  background-color: var(--oceanBlue);
  min-height: 72vh;
}

@media only screen and (min-width: 601px) {
  .container {
    min-height: 80vh;
    width: 85%;
  }
}

@media screen and (min-width: 601px) and (orientation: landscape ) {
  .container {
    min-height: 46vh;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    min-height: 78vh;
    width: 70%;
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1024px)  and (orientation: portrait ){
  .container {
    min-height: 84vh;
  }
}
