@import url('https://fonts.googleapis.com/css?family=Tangerine:700');

:root {
  --tangerineFont: 'Tangerine', cursive;

  --family: 'Roboto', sans-serif;
  --big: 1.125rem;
  --medium: 0.875rem;
  --small: 0.75rem;
  --mobBig: 1.125rem;
  --mobMedium: 0.875rem;
  --mobSmall: 0.75rem;
  --white: #fff;
  --black: #000000;
  --blackShadow: rgba(255, 255, 255, 0.2);
  --kilamanjaro: #0c0c0cdf;
  --nero: #1a1a1a;
  --serch: #262626;
  --card: #2e2e2e;
  --grey: #7d7d7d;
  --greyOverlay: rgba(175, 175, 175, 0.8);
  --greyLight: #f7f7f7;
  --red: #d32f2f;
  --freeSpeechRed: #cc0000;
  --main: #ffff8f;
  --gold: #FFFA38;
  --main-yellow: #ffb606;
  --selected-yellow: #8b6506;
  --oceanBlue: #2196F3;
  --seaBlue: #00ecf3;

  --box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.65),inset 0 0.0625rem 0 0 rgba(255, 255, 255, 0.15);
  --box-shadow-up: 0.5rem 0 0.5rem 0 rgba(0, 0, 0, 0.65),inset 0 0.0625rem 0 0 rgba(255, 255, 255, 0.15);
}

/* ~~~ RESET ~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  background-image: url("./assets/main-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

input, button {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

::-webkit-scrollbar { width: 4px; height: 3px;}

::-webkit-scrollbar-track {  background-color: #999;}

::-webkit-scrollbar-track-piece { background-color: #999;}

::-webkit-scrollbar-thumb { height: 50px; background-color: #f4120c; border-radius: 3px;}

::-webkit-scrollbar-corner { background-color: #999;}

::-webkit-resizer { background-color: #666;}
