@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import "~materialize-css/dist/css/materialize.min.css";

:root {
  --tangerineFont: 'Tangerine', cursive;

  --family: 'Roboto', sans-serif;
  --big: 1.125rem;
  --medium: 0.875rem;
  --small: 0.75rem;
  --mobBig: 1.125rem;
  --mobMedium: 0.875rem;
  --mobSmall: 0.75rem;
  --white: #fff;
  --grey: #7d7d7d;
  --red: #d32f2f;
  --serch: #262626;
  --main: #ffff8f;
  --card: #2e2e2e;
  --gold: #FFFA38;
}

/* ~~~ RESET ~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

input, button {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
